[flake8]
max-line-length = 100
exclude = 
    .git,
    .venv,
    venv,
    __pycache__,
    .eggs,
    *.egg,
    binaire,
    software,
    logs,
    node_modules,
    inputs-ibm,
    inputs-clients,
    poc-design
ignore = 
    W503,
    E203
